@{
    ViewBag.Title = "Login";
}
<link href="~/Content/login.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/Samsun/Login" method="post">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h3 class="text-center">Samsun Anket Giriş Sayfası</h3>
                    </div>
                </div>
                <div class="col-md-12" style="text-align:center">
                    <input class="" id="kullanici" name="kullanici" placeholder="Kullanıcı Adı" required="" type="text" value="">
                </div>
                <div class="col-md-12" style="text-align:center">
                    <div class="son">
                        <button type="submit" class="btn btn-primary btn-md btn-block " style="width: 25%;text-align: center;display: initial;">
                            Ankete Başla
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>